html { height: 100%;}
body { height: 100%; margin: 0px; padding: 0px; }
#map_canvas { height: 100%; width: 100%; }
#bike_searcher { position: absolute; z-index: 10000; width: 225px; left: 100px; top: 10px; background: white; background: rgba(255,255,255,0.8); padding: 10px; border-radius: 10px; font-family: Arial, Helvetica, sans-serif; border: 5px solid #06318C; font-size: 12px; max-height: 700px; overflow: auto;}
dd, dt { float: left; width: 100px; margin: 3px 0;}
dt, .clear {clear: both; text-align: right; font-weight: 800; margin-right: 5px;}
p {text-align: center;}
img {float: right;}
input[type=submit]{background: #06318C; color: white; border: 0; border-radius: 5px; cursor: pointer; padding: 5px 7px;}
a {font-size: 10px; margin: 10px; text-align: left; display: block; text-transform: uppercase; font-weight: 800; text-decoration: none; color: #06318C;}
dl {display: none;border-bottom:1px solid #666; margin: 0; padding: 5px 0;}
span{ display: block; text-align: center;}